{%extends "layouts/app.html" %}
{% block title %}Articles{% endblock %}
{% block content %}
{% load static %}
<!-- Poems Start -->
<div class="container-xxl py-5">
  <div class="container py-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h1 class="mb-5 text-uppercase text-secondary">Articles</h1>
      <h6 class="text-dark">When the soul is weary and hope is but a memory a rememberance of what it was is all that
        matters.</h6>
    </div>
    <div class="row">
      {% for article in articles %}
      <div class="col-lg-4 col-md-6 wow fadeInUp">
        <div data-wow-delay="0.3s">
          <img src="{{article.cover.url}}" alt="" style="width: 100%; height: 40vh; object-fit: cover;">
        </div>
        <div class="price-item" data-wow-delay="0.5s">
          <div class="border-bottom p-4 mb-4">
            <h5 class="text-primary mb-1 overflow-hidden">{{article.title}}</h5>
            <h1 class="display-5 mb-0"></h1>
          </div>
          <div class="p-4 pt-0">
            <div style="height: 30vh;">{{article.content|safe|truncatewords:30}}</div>
            <a class="btn-slide mt-2" href="/articles/{{article.id}}">
              <i class="fa fa-arrow-right"></i>
              <span>Read Now</span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Poems End -->
{% endblock content%}