{%extends "layouts/app.html" %}
{% block title %}{{poem.title}}{% endblock %}
{% block content %}
{% load static %}
<!-- Poems Start -->
<div class="container-xxl py-5 row">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="mb-5 text-uppercase">{{poem.title}}</h1>
    </div>
    <div class="container py-5 col-md-6">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <img src="{{poem.cover.url}}" style="height:100%;width:100%;object-fit: cover;" alt="">
        </div>
    </div>
    <div class="container py-5 col-md-6">
        
        <div>{{poem.content|safe}}</div>
    </div>
</div>
<!-- Poems End -->
{% endblock%}